@font-face {
    font-family: 'Tauri';
    src: url('../Fonts/Tauri-Regular.ttf') format('truetype');
}

body {
    font-family: 'Tauri', sans-serif;
    background-color: rgba(250, 243, 234, 0.954);
}

hr {
    border: 0;
    height: 2px;
    background-color: rgb(247, 156, 28);
}

nav ul {
    font-size: 13px;
}

nav b {
    font-size: 16px;
}

.no-fw {
    color: aliceblue;
    font-weight: normal;
    font-size: 17px;
}

.navbar {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    background-color: rgb(255, 178, 70);
    box-shadow: 5px 5px 10px 0px rgba(146, 146, 146, 0.684);
}

.nav-link {
    background-color: rgb(65, 156, 208);
    border-color: rgb(65, 156, 208);
    margin-left: 10px;
    color: aliceblue;
}

.nav-link:hover {
    background-color: rgb(43, 128, 226);
    color: aliceblue;
}

.nav-pills .nav-item .nav-link.active {
    background-color: rgb(43, 128, 226);
    color: aliceblue;
}

.nav-pills .nav-item .nav-link.active:focus {
    background-color: rgb(43, 128, 226);
    color: aliceblue;
}

.card-style {
    height: 360px;
}